.headerContainer {
    background-color: var(--white);
    border-bottom: var(--primary) 2px solid;
  }
  
  .headerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
  }
  
  .headerInfo > p, .headerInfoLink {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary);
  }

  .dropdownContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 150px;
    z-index: 100;
  }
  
  .dropdownItem {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
  }
  
  .dropdownItem:hover {
    background-color: #f0f0f0;
  }