.main {
    min-height: 80vh;
}
.about > h1 {
    color: var(--orange);
    text-align: center;
    margin-bottom: 40px;
}

.about > div {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.about {
    margin: 80px 50px 100px;
}

.aboutImg {
    border-radius: 30px;
    border: var(--purple) 2px solid;
    width: 400px;
    height: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.aboutTextContainer {
    max-width: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.aboutImgContainer {
    max-width: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.aboutTextContainer > div > h4 {
    color: var(--blue);
    margin-bottom: 5px;
}


.creator {
    background-image: url("/images/stripped-background.webp");
    background-color: var(--orange);
    background-blend-mode: multiply;
    color: var(--white);
    background-repeat: no-repeat;
    background-size: cover;
}

.creator > h2 {
    text-align: center;
    padding: 50px 50px 0;
}

.creatorContainer {
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: center;
}

.creatorTextContainer {
    width: 50%;
    padding-bottom: 50px;
}

.creatorImgContainer {
    display: flex;
    justify-content: center;
    align-self: end;
}

.creatorImg {
    width: auto;
    object-fit: cover;
    height: 600px;
}

@media screen and (max-width: 1030px) {
    .about > div {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .about > h1 {
        padding-bottom: 20px;
    }

    .aboutImg {
        width: 100%;
    }

    .about {
        margin: 70px 0px;
    }

    .aboutTextContainer {
        max-width: 80%;
        gap: 0px;
    }
    
    .aboutImgContainer {
        max-width: 100%;
        width: 70vw;
    }

    .creatorContainer {
        display: flex;
        padding: 0 20px;
        flex-direction: column-reverse;
    }
    
    .creatorTextContainer {
        width: 80%;
        padding-bottom: 100px;
        padding-top: 40px;
    }
    
    .creatorImgContainer {
        align-self: center;
        width: 80%;
        border-bottom: var(--white) solid 3px;
    }
    
    .creatorImg {
        width: 60%;
        object-fit: cover;
        height: auto;
        margin: 0 20px;
    }
}

@media screen and (max-width: 500px) {
    .creatorImgContainer {
        width: 100%;
    }
    
    .creatorImg {
        width: 70%;
        margin: 0;
    }

    .creatorTextContainer {
        width: 100%;
        padding-bottom: 50px;
    }

    .creatorContainer {
        padding: 0 30px;
    }

    .aboutImg {
        max-height: 250px;
    }

    .aboutTextContainer {
        margin-top: -30px;
    }
}