.main > h1 {
    color: var(--orange);
    text-align: center;
    margin-top: 50px;
}

.dashboardContainer {
    padding: 0 50px 0 30px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
        "routine img"
        "routine quote"
        "routine energy"
        "routine energy"
    ;
    grid-gap: 30px;
}

.routineContainer {
    grid-area: routine;
    background-color: var(--blue);
    border-radius: 30px;
    color: var(--white);
    border: var(--blue) solid 5px;
}

.dateContainer {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "prev date next"
    ;
    align-items: center;
    justify-items: center;
    gap: auto;
    color: var(--blue);
    background-color: var(--white);
    width: 100%;
    height: 100px;
    border-radius: 26px 26px 0 0;
}

.prevDateBtn {
    grid-area: prev;
}

.dateText {
    grid-area: date;
}

.nextDateBtn {
    grid-area: next;
}

.routines {
    padding: 50px;
}

.quoteContainer {
    grid-area: quote;
    background-color: var(--purple);
    border-radius: 30px;
    color: var(--white);
    padding: 20px 50px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}

.imgContainer {
    grid-area: img;
    background-color: var(--orange);
    border-radius: 30px;
    padding: 10px;
}

.energyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: energy;
    border: var(--orange) solid 3px;
    border-radius: 30px;
    padding: 20px 50px;
}

.decorativeImg {
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.energyInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.energyInfo > h2 {
    color: var(--blue);
    margin-top: 30px;
    text-align: center;
}

.energyInfoImg {
    object-fit: cover;
    border-radius: 30px;
    margin: 20px 0 30px;
    width: 100%;
}

.btnsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.btnsContainer > button {
    width: 100%;
    border-radius: 50px;
    font-family: "Playpen Sans", cursive;
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 30px 100px;
}

.btnsContainer > button:nth-child(1) {
    background-color: var(--orange);
}

.btnsContainer > button:nth-child(2) {
    background-color: var(--blue);
}

.btnsContainer > button:nth-child(3) {
    background-color: var(--purple);
}

.preRoutine {
    text-align: center; 
    padding: 20px 70px;
}

.preRoutine > h3 {
    margin-bottom: 30px;
}

.preRoutine > h4 {
    margin-top: 50px;
}

.preRoutineImg {
    object-fit: cover;
    object-position: 50% 10%;
    border: var(--white) solid 5px;
    border-radius: 30px;
    width: 100%;
}

.routineTitle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
}

.tasksContainer > label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tasksContainer > label > input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    border: var(--white) solid 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
}

.tasksContainer > label > input[type="checkbox"]:checked {
    background-color: var(--white);
    opacity: 1;
    transition: .2s opacity ease-in-out;
}

.tasksContainer > label > input[type="checkbox"]:checked::before {
    opacity: 0;
}

.tasksContainer > label > input[type="checkbox"]:focus {
    outline: 2px solid var(--white);
    outline-offset: 3px;
    box-shadow: 0 0 0 2px var(--purple);
    transition: box-shadow 0.2s ease-in-out;
}

.routineDivider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px auto 30px;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: var(--white);
    border-radius: 50%;
    flex-shrink: 0;
}

.line {
    flex-grow: 1;
    height: 3px;
    background-color: var(--white);
    margin: 0;
}

@media screen and (max-width: 1100px) {
    .main > h1 {
        padding-bottom: 30px;
    }
    .dashboardContainer {
        padding: 0 50px 0 30px;
        grid-template-columns: 80%;
        grid-template-areas: 
            "img"
            "routine"
            "quote"
            "energy"
        ;
        justify-content: center;
    }
    
    .quoteContainer {
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .energyContainer {
        padding: 10px 30px;
    }
    
    .tasksContainer > label {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    .main > h1 {
        padding-right: 20px;
        padding-left: 20px;
    }

    .dashboardContainer {
        padding: 0 20px 0 10px;
        grid-template-columns: 90%;
    }
    
    .quoteContainer {
        padding: 10px 30px;
    }

    .imgContainer {
        padding: 5px;
    }

    .energyInfoImg {
        height: 50%;
    }
    
    .routines {
        padding: 20px;
    }
    
    .tasksContainer {
        margin-left: 8px;
    }
    
    .tasksContainer > label {
        font-size: 12px;
    }
    
    .tasksContainer > label > input[type="checkbox"] {
        width: 12px;
        height: 12px;
    }

    .routineDivider {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 30px auto 20px;
    }
    
    .circle {
        width: 12px;
        height: 12px;
    }
    
    .line {
        height: 2px;
    }

    .btnsContainer {
        padding-top: 20px;
    }
    
    .btnsContainer > button {
        font-size: 14px;
        padding: 20px 40px;
    }

    .preRoutine {
        text-align: center; 
        padding: 20px;
    }
    
    .preRoutine > h3 {
        margin-bottom: 20px;
    }
    
    .preRoutine > h4 {
        margin-top: 30px;
    }
    
    .preRoutineImg {
        height: 200px;
    }
}