:root {
    --white: #FFFCF0;
    --blue: #6AA08F;
    --orange: #BF714A;
    --brighter-orange: #D37D52;
    --purple: #AA83AF;
    --black: #1B1B1B;
    --brown-overlay: rgba(30,18,12,0.78);
    --error: #bd0c0c;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: var(--white);
  }

  h1 {
    font-weight: 800;
    font-size: 32px;
  }

  h2 {
    font-weight: 700;
    font-size: 24px;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
  }

  h4 {
    font-weight: 500;
    font-size: 18px;
  }

  h5 {
    font-weight: 500;
    font-size: 20px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }

  @media screen and (max-width: 950px) {
    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 22px;
    }
  
    h3 {
      font-size: 18px;
    }
  
    h4 {
      font-size: 16px;
    }
  
    h5 {
      font-size: 18px;
    }
  
    p {
      font-size: 14px;
    } 
  }

@media screen and (max-width: 650px) {
    h1 {
      font-size: 22px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    h3 {
      font-size: 16px;
    }
  
    h4 {
      font-size: 14px;
    }
  
    h5 {
      font-size: 16px;
    }
  
    p {
      font-size: 12px;
    } 
}