:root {
    --white: #FFFCF0;
    --blue: #6AA08F;
    --orange: #BF714A;
    --brighter-orange: #D37D52;
    --purple: #AA83AF;
    --black: #1B1B1B;
    --brown-overlay: rgba(30,18,12,0.78);
    --error: #bd0c0c;
  }

.high-contrast {
  --white: #ffffff;
  --black: #000000;
  --blue: #547d70;
  --orange: #98593a;
  --brighter-orange: #ef9162;
  --purple: #8b6a90;
  --error: #a80b0b;
}

.reduce-motion *, .reduce-motion *::before, .reduce-motion *::after {
  animation: none !important;
  transition: none !important;
}

.dyslexia-font * {
  font-family: Helvetica !important;
  line-height: 2rem !important;
}
  
  html,
  body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: var(--white);
    font-family: "Nunito";
  }

  button {
    font-family: "Nunito", cursive;
  }

  h1 {
    font-family: "Playpen Sans";
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 1px;
  }

  h2 {
    font-weight: 800;
    font-size: 24px;
    line-height: 2rem;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
  }

  h4 {
    font-weight: 600;
    font-size: 18px;
  }

  h5 {
    font-weight: 500;
    font-size: 20px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
  }

  a:hover, a:focus {
    transform: scale(.95);
    transition: .2s;
  }

  :focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--blue);
    border-radius: 4px;
    offset: 3px;
    transition: box-shadow 0.2s ease-in-out;
  }

  :focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--blue);
    border-radius: 4px;
    offset: 3px;
    transition: box-shadow 0.2s ease-in-out;
  }

  input {
    font-family: "Nunito";
  }

  @media screen and (max-width: 950px) {
    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 22px;
    }
  
    h3 {
      font-size: 18px;
    }
  
    h4 {
      font-size: 16px;
    }
  
    h5 {
      font-size: 18px;
    }
  
    p {
      font-size: 14px;
    } 
  }

@media screen and (max-width: 650px) {
    h1 {
      font-size: 22px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    h3 {
      font-size: 16px;
    }
  
    h4 {
      font-size: 14px;
    }
  
    h5 {
      font-size: 16px;
    }
  
    p {
      font-size: 12px;
    } 
}