.main {
    background-image: url("/images/form-background.webp");
    background-color: #79657c;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.loginContainer {
    background-color: var(--white);
    padding: 70px 50px;
    justify-content: center;
    align-items: center;
    width: 700px;
    display: flex;
    flex-direction: column;
    border: var(--purple) 3px solid;
    border-radius: 30px;
}

.loginContainer > h2 {
    color: var(--orange);
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 500px;
}

.form > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
}

.form > div > label {
    font-weight: 500;
}

.form > div > input {
    background-color: var(--white);
    height: 30px;
    border: var(--purple) solid 2px;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: "Playpen Sans", cursive;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
}

.form > button {
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 50px;
    font-family: "Playpen Sans", cursive;
    font-weight: 500;
    font-size: 14px;
    padding: 15px 15px;
    margin: 20px 0;
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
}

.error {
    color: var(--error);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-bottom: -10px;
}

.loginContainer > p {
    font-size: 14px;
    margin-bottom: 30px;
}

.link {
    color: var(--blue);
}

@media screen and (max-width: 670px) {
    .main {
        padding: 50px;
    }
    
    .loginContainer {
        padding: 50px 30px;
        width: 90%;
    }
    
    .loginContainer > h2 {
        color: var(--orange);
        margin-bottom: 30px;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 95%;
    }
    
    .form > div > label {
        font-size: 14px;
    }
    
    .form > div > input {
        height: 25px;
        font-size: 12px;
    }
    
    .form > button {
        padding: 12px;
    }
    
    .loginContainer > p {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 410px) {
    .main {
        padding: 30px 20px;
    }
    .loginContainer {
        padding: 20px;
    }
    .form > div > label {
        font-size: 12px;
    }
    .form > button {
        padding: 12px;
        font-size: 12px;
    }
    .error {
        font-size: 11px;
    }

    .loginContainer > p {
        font-size: 11px;
    }
}