.main {
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url("/images/quiz-background.webp");
    background-color: var(--brown-overlay);
    background-blend-mode: multiply;
    min-height: 100vh;
    background-position: cover;
}

.startMenu {
    padding: 150px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
}

.startMenu > h1 {
    color: var(--brighter-orange);
    padding-bottom: 20px;
}
.startMenu > h2 {
    color: var(--white);
    padding-bottom: 50px;
}

.startMenu > button {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    font-family: "Playpen Sans", cursive;
    font-weight: 600;
    font-size: 16px;
    padding: 20px 50px;
    border-radius: 50px;
    cursor: pointer;
}

.startMenu > button:hover, .startMenu > button:focus {
    transform: scale(.98);
    transition: .2s;
    cursor: pointer;
}

.questionsContainer {
    background-color: var(--white);
    border-radius: 30px;
    width: 75%;
    text-align: center;
    margin: 100px 50px;
    padding: 50px 70px;
}

.questionsContainer > h2 {
    color: var(--orange);
    padding-bottom: 10px;
}

.questionsContainer > h4 {
    padding-bottom: 20px;
}

.answerChoices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 2rem 0;
}

.answerChoice {
    padding: 1rem 1.5rem;
    border: 2px solid var(--orange);
    border-radius: 9999px;
    background-color: var(--white);
    color: var(--orange);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.answerChoice:hover, .answerChoice:focus {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}
  
.selected {
    background-color: var(--orange);
    color: white;
}

.questionNav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: 
    "prevBtn questionCount nextBtn"
  ;
  align-content: center;
  justify-items: center;
  padding-top: 2rem;
}

.questionNav > button:first-of-type {
    grid-area: prevBtn;
}

.questionNav > button:last-of-type {
    grid-area: nextBtn;
}

.questionCount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-area: questionCount;
}

.questionNav > button {
    background-color: var(--blue);
    border-radius: 50px;
    border: none;
    padding: 10px 15px;
    color: var(--white);
    font-family: "Playpen Sans", cursive;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    flex-shrink: 0;
}

.questionNav > button:hover, .questionNav > button:focus {
    transform: scale(.98);
    transition: .2s;
}

.dot {
    width: 12px;
    height: 12px;
    border: var(--blue) 2px solid;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--white);
}
  
.dot.active {
    background-color: var(--blue);
}

.reviewBtn {
    font-size: 14px !important;
}

@media screen and (max-width: 710px) {
    .questionsContainer {
        margin: 50px 30px;
    }
    
    .questionsContainer > h2 {
        padding-bottom: 5px;
    }
    
    .questionsContainer > h4 {
        padding-bottom: 10px;
    }
    
    .answerChoice {
        min-height: 40px;
        font-size: 14px;
    }
    
    .questionCount {
        gap: 8px;
    }
    
    .dot {
        width: 10px;
        height: 10px;
    }
}

@media screen and (max-width: 570px) {
    .startMenu {
        padding: 50px;
        width: 90%;
    }
    
    .startMenu > h1 {
        padding-bottom: 10px;
    }
    .startMenu > h2 {
        padding-bottom: 30px;
    }
    
    .startMenu > button {
        font-size: 14px;
        padding: 15px 40px;
    }

    .questionsContainer {
        width: 90%;
        margin: 20px;
        padding: 50px 20px;
    }
    
    .answerChoices {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.25rem;
        margin: 1.5rem 0;
    }
    
    .answerChoice {
        min-height: 40px;
        font-size: 14px;
    }
    
    .questionNav {
      padding-top: 1.5rem;
      gap: .5rem;
    }
    
    .questionNav > button {
        padding: 10px 15px;
    }
    
    .dot {
        width: 7px;
        height: 7px;
    }
    .questionCount {
        gap: 5px;
    }

    .reviewBtn {
        font-size: 12px !important;
    }
}