.main {
    background-image: url("/images/quiz-background.webp");
    background-color: var(--brown-overlay);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 70px 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main > h1 {
    color: var(--brighter-orange);
    text-align: center;
}

.main > h2 {
    color: var(--white);
    text-align: center;
    margin: 20px 150px 0;
}

.routinesContainer {
    background-color: var(--white);
    margin: 100px 300px;
    border-radius: 50px;
    padding: 50px 150px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.divider {
    border: var(--purple) dashed 3px;
    border-radius: 10px;
    margin: 50px 0;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: var(--orange) solid 2px;
}

.deleteBtn, .addBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.deleteBtn:hover, .addBtn:hover, .deleteBtn:focus, .addBtn:focus {
    transform: scale(.97);
    transition: .2s;
}

.task > input, .addTaskContainer > input {
    background: transparent;
    width: 100%;
    border: none;
    font-size: 16px;
    text-wrap: wrap;
}

.task > input:focus, .addTaskContainer > input:focus {
    outline: none;
}

.addTaskContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 60px;
    padding-bottom: 5px;
    border-bottom: var(--blue) solid 2px;
}

.routine > h3 {
    color: var(--blue);
}

.routine > h4 {
    color: var(--orange);
    display: flex;
    align-items: center;
    gap: 10px;
}

.saveBtn {
    background-color: var(--blue);
    border: none;
    text-align: center;
    width: 100%;
    color: var(--white);
    padding: 15px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.saveBtn:hover, .saveBtn:focus {
    transform: scale(.99);
    transition: .3s;
    background-color: var(--orange);
}

.message {
    color: var(--purple);
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.error {
    color: var(--error);
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 20px;
    margin-top: -30px;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .main > h2 {
        margin: 20px 50px;
    }
    
    .routinesContainer {
        margin: 50px;
        padding: 50px 70px;
    }
    
    
    .task {
        width: 100%;
    }
    
    .deleteBtn, .addBtn {
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .task > input, .addTaskContainer > input {
        font-size: 14px;
    }

    .addTaskContainer {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    
    .saveBtn {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .main > h2 {
        margin: 20px 30px;
    }
    
    .routinesContainer {
        margin: 20px;
        padding: 30px 40px;
    }
    
    
    .task {
        width: 100%;
    }
    
    .task > input, .addTaskContainer > input {
        font-size: 12px;
    }

    .addTaskContainer {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
    .saveBtn {
        padding: 10px;
        font-size: 12px;
    }
}