.footer {
    background-color: var(--blue);
    border-top: var(--white) solid 2px;
    margin-top: 80px;
}

.footerContainer {
    padding: 50px;
}

.sitemapContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 40px;
}

.navLink {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
}

.navLink:hover, .navLink:focus {
    transform: scale(.98);
    transition: .2s;
    text-decoration: underline;
}

.navLink:focus, .navLink:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--white);
    border-radius: 4px;
    padding: 5px;
    transition: box-shadow 0.2s ease-in-out;
}

.copyrightText, .copyrightText > a {
    color: var(--white);
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .navLink {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .navLink {
         font-size: 12px;
    }
    .copyrightText {
        font-size: 10px;
    }
    .sitemapContainer {
        padding-bottom: 20px;
        flex-wrap: wrap;
    }
    .footerContainer {
        padding: 30px 10px;
    }
}